body {
    font-size: 50pt;
    padding-left: 10%;
}

div {
    margin-top: 1em;
}

button {
    font-size: 50pt;
}

.big-btn {
    min-width: 7em;
    display: block;
    margin-top: 1em;
}

.settings button {
    width: 2em;
}
